.sidebar {
    position: fixed;
    top: 0;
    left:0;
    width: 60px;
    height: 100vh;
    background-color: #fff;
    box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;

}

.sidebar > span {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.sidebar  span img {
    height: 30px;
    width: 30px;
}
.side-bar-icon {
    padding: 1rem;
}
.sidebar img:first-child {
  padding-top: 1rem;
}
.sidebar img:nth-child(2) {
  padding: 0rem;
}
.sidebar img:nth-child(8) {
  background-color: #2299ff;
}

.sidebar img:last-child {
  padding-top: 5rem;
}