.announcement-wrapper {
  display: flex;
  background-color: #000000;
  height: 3rem;
  padding: 0 8rem;
}
.announcement-wrapper p {
  opacity: 0.8;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
  display: flex;
  align-items: center;
}

.announcement-wrapper span {
  opacity: 0.9;
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.announcement-wrapper .location-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 70%;
}

.location-picker {
  padding-left: 0.3rem;
}