.side-bar {
  border-radius: 6px;
  box-shadow: 0 6px 26px 0 rgba(64, 98, 127, 0.15);
  background-color: var(--white);
  width: 20%;
  display: inline-block;
  margin: 2.5rem 0rem 0 8rem;
}
.side-bar h1 {
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #2d303f;
  padding:2rem 0 0 2.5rem;
}

.side-bar li {
  list-style: none;
  padding: 0 2.5rem 2rem 2.5rem;
  position: relative;
}

.side-bar li:before {
  content: '';
  position: absolute;
  left: calc(100% - 86%);
  right: 23px;
  width: 66%;
  height: 1px;
  background-color: #e8e9ea;
}

.side-bar li a {
  display: block;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .8px;
  text-decoration: none;
  padding: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: ProximaNova;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.83;
  letter-spacing: normal;
  color: #2d303f;

}

.side-bar li a:nth-child(3):after {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 39px;
  background-color: #07c9a1;
  box-shadow: 0 6px 26px 0 #07c9a1;
}